.mrb {
  margin-bottom: 0.5rem;
}
.customLabel {
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .mrb {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
  }
}
